In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
#create list for column data frame
names = ['Cindy',
         'Bobby',
         'Oliver',
         'Jan',
         'Peter',
         'Marcia',
         'Greg']

In [5]:
#create empty data frame
df2 = pd.DataFrame(index=names)

In [7]:
#create data for column age
df2['age'] = [6, 8, 8, 10, 11, 12, 14]

In [8]:
#show data frame
print(df2)

        age
Cindy     6
Bobby     8
Oliver    8
Jan      10
Peter    11
Marcia   12
Greg     14

In [10]:
#standard mean
df2.age.mean()

9.857142857142858

In [11]:
#standard median
df2.age.median()

10.0

In [12]:
#standard mode
df2.age.mode()

0    8
dtype: int64

In [15]:
#standard deviation
df2.age.std()

2.734262327610589

In [17]:
#standard variation
df2['age'].var()

7.476190476190475

In [18]:
#standard error
np.std(df2['age'] ,ddof=1) / np.sqrt(len(df2['age']))

1.0334540197243192

In [19]:
df2.describe()

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000